# Node modules
client/node_modules/
server/node_modules/

# Build files
client/build/
server/dist/

# Logs
*.log

# OS junk files
.DS_Store
Thumbs.db

# Environment files
*.env
.env.local

# Editor folders
.vscode/
.idea/
